version: "3"

services:
  #mysql8
  db:
    build: ./config/mysql8
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    env_file: .env
    environment:
      MYSQL_DATABASE: wordpress

  #nginx1.20
  nginx:
    build: ./config/nginx
    ports:
      - 80:80
    volumes:
      - ./nginx/front.conf:/etc/nginx/conf.d/nginx-front.conf
      - ./phpmyadmin:/pcode
      - ./wordpress:/wcode
    restart: always

  #php-fpm7.4
  phpfpm:
    build: ./config/phpfpm
    ports:
      - 9000:9000

volumes:
  wordpress:
  dbdata: