version: "3"

services:
  #database
  db:
    image: mysql:8.0
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - 3306:3306
    restart: always
    env_file: .env
    environment:
      MYSQL_DATABASE: wordpress
    networks:
        testnw:
          ipv4_address: 192.168.222.10

  #front 80 wp
  nginx-wp:
    image: nginx:1.20
    ports:
      - 80:80
    volumes:
      - ./wordpress:/code
      - ./nginx/front.conf:/etc/nginx/conf.d/nginx-front.conf
    restart: always
    networks:
        testnw:
          ipv4_address: 192.168.222.2

  #nginx phpmyadmin 
  nginx-phpmy:
    image: nginx:1.20
    volumes:
      - ./phpmyadmin:/code
      - ./nginx/back.conf:/etc/nginx/conf.d/nginx-back.conf
    networks:
      testnw:
          ipv4_address: 192.168.222.3
  
  #nginx fpm 
  nginx-fpm:
    image: php:7.4-fpm
    volumes:
      - ./phpmyadmin:/code
      - ./nginx/back.conf:/etc/nginx/conf.d/nginx-back.conf
    networks:
      testnw:
          ipv4_address: 192.168.222.4

volumes:
  wordpress:
  dbdata:

networks:
  testnw:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.222.0/24
    