version: '3'
services:
    nginx:
        image: nginx:latest
        ports:
            - "8000:80"
        volumes:
            - ./hosts:/etc/nginx/conf.d
            - ./www:/var/www
            - ./logs:/var/log/nginx
        # nginx > php 
        links:
            - php
    php:
        # php7.4-fpm dockerfile
        build: ./images/php
        # php > mysql
        links:
            - mysql
        # add from target
        volumes:
            - ./www:/var/www
    mysql:
        image: mysql:latest
        volumes: 
            - ./mysql:/var/lib/mysql
        environment:
            MYSQL_ROOT_PASSWORD: mysecret
    pma:
        build: ./images/phpmyadmin
        volumes:
            - ./www:/pma
        restart: always
        links:
            - mysql     
        #ports:
        #    - 8183:80
        #environment:
        #    PMA_HOST: mysql
        #    MYSQL_USERNAME: root
        #    MYSQL_ROOT_PASSWORD: mysecret
    wordpress:
        image: wordpress:latest
        restart: always
        links:
             - mysql
        ports:
             - 8081:80
        environment:
            WORDPRESS_DB_HOST: mysql
            WORDPRESS_DB_USER: root
            WORDPRESS_DB_PASSWORD: mysecret
            WORDPRESS_DB_NAME: wp_db